﻿
@model WebApplication2.Models.UserModel
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="name">Фамилия:</label>
        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="name">Имя:</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="name">Отчество:</label>
        @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="name">Телефон:</label>
        @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="name">Компания:</label>
        @Html.DropDownListFor(m => m.Company.Id, ViewBag.Companies as SelectList, "---", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-warning">Сохранить</button>
}
