﻿@model List<WebApplication2.Models.UserModel>
@{
    ViewBag.Title = "Оборудование";
}
<body>
    <div style="margin-top: 30px;">
        <div class="bootstrap-table">
            <div class="fixed-table-header" style="display: block;">
                <div id="toolbar">
                    <a href="@Url.Action("Create", "User")" class="btn btn-success btn"><span class="glyphicon glyphicon-plus"></span>Добавить</a>
                </div>
                <table data-toggle="table"
               id="table"
               data-pagination="true"
               data-show-export="true"
               data-click-to-select="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-search="true"
               class="table table-hover"
               data-toolbar="#toolbar"
               data-page-list="[10, 25, 50, 100, Все]">
                    <thead style="display: table-header-group">
                        <tr>
                            <th data-sortable="true">Фамилия</th>
                            <th data-sortable="true">Имя</th>
                            <th data-sortable="true">Отчество</th>
                            <th data-sortable="true">Телефон</th>
                            <th data-sortable="true">Компания</th>
                            <th>Редактировать</th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var v in Model)
                        {
                            <tr>
                                <td>@v.Surname</td>
                                <td>@v.Name</td>
                                <td>@v.Lastname</td>
                                <td>@v.Number</td>
                                <td>@v.Company.Name</td>
                                <td>
                                    @Html.AntiForgeryToken()
                                    <a href="@Url.Action("Edit","User", new { id=v.Id})" class="btn btn-link" title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                                <td>
                                    <form method="post" action="@Url.Action("Delete","User", new { id=v.Id})">
                                        @Html.AntiForgeryToken()
                                        <button class="btn btn-link" type="submit" title="Удалить" onclick="return confirm('Точно удалить?')"><span class="glyphicon glyphicon-trash"></span></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
