﻿@model WebApplication2.Models.CompanyModel

<div style="margin-top: 30px;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="name">Название компании:</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-warning">Сохранить</button>
    }
</div>


