﻿
@model WebApplication2.Models.CompanyModel
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="name">Имя:</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-warning">Сохранить</button>
}
