﻿@model List<WebApplication2.Models.CompanyModel>
@{
    ViewBag.Title = "Оборудование";
}
<body>
    <div style="margin-top: 30px;">
        <div class="bootstrap-table">
            <div class="fixed-table-header" style="display: block;">
                <div id="toolbar">
                    <a href="@Url.Action("Create", "Company")" class="btn btn-success btn"><span class="glyphicon glyphicon-plus"></span>Добавить</a>
                </div>
                <table data-toggle="table"
                       id="table"
                       data-pagination="true"
                       data-search="true"
                       class="table table-hover"
                       data-toolbar="#toolbar">
                    <thead style="display: table-header-group">
                        <tr>
                            <th data-sortable="true">Название компании</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var v in Model)
                        {
                            <tr>
                                <td>@v.Name</td>
                                <td>
                                    @Html.AntiForgeryToken()
                                    <a href="@Url.Action("Edit","Company", new { id=v.Id})" class="btn btn-link" title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                                <td>
                                    <form method="post" action="@Url.Action("Delete","Company", new { id=v.Id})">
                                        @Html.AntiForgeryToken()
                                        <button class="btn btn-link" type="submit" title="Удалить" onclick="return confirm('Точно удалить?')"><span class="glyphicon glyphicon-trash"></span></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
